$phone: 320px;
$phoneMd: 576px;
$tablet: 768px;
$desktop: 1024px;
$desktopMd: 1200px;
$desktopLaptop: 1366px;

@mixin media($type) {
  @if $type == "phone" {
    @media (max-width: $phone) {
      @content;
    }
  } @else if $type == "phoneMd" {
    @media (max-width: $phoneMd) {
      @content;
    }
  } @else if $type == "tablet" {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $type == "desktop" {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $type == "desktopMd" {
    @media (max-width: $desktopMd) {
      @content;
    }
  } @else if $type == "desktopLaptop" {
    @media (max-width: $desktopLaptop) {
      @content;
    }
  }
}
